*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(148, 193, 245);
    position: fixed;
    z-index: 2;
}
a{
    text-decoration: none;
    color: white;
}
span {
    display: inline-block;
    color: #ff9900;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 8px;
}
.img_class img{
    margin-top: 50px;
    border-radius: 20px;
    height: 400px;
    width: 500px;
}
.row{
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.heading h2 {
    font-weight: 600;
    font-size: 38px;
    color: #282828;
    text-transform: capitalize;
}
.heading p{
    font-family: roboto,sans-serif;
    color: #4e4e4e;
    background-color: #fff;
    font-size: 16px;
}
.content p{
    color: black;
}
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    /* background-color: black; */
    height: 80vh;
    /* opacity: 1; */
    
}

.footer_item .footer_logo ul li a {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #e8693d;
    border-radius: 50%;
    display: block;
}
.footer_item .footer_logo p{
    margin-top: 20px;
    color: #fff; 
}
.footer_item .footer_logo ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px
}
.footer_item .footer_logo ul{
    display: flex;
    justify-content: space-evenly;
}
.footer_item .footer_links ul li{
    list-style-type: none;
    margin-right: 10px
}
.footer_item .footer_links h3{
    color: #fff; 
}
.footer_item .footer_touch ul li {
    list-style-type: none;
    display: block;
    position: relative;
    /* padding-left: 40px; */
    margin-bottom: 12px;
}
.footer_item .footer_touch h3, h4, p{
    color: #fff;
}
#foot_1{
    color: white;
    background-color:transparent;
    border:1px solid white;
    border-radius:10px;
}
.row_footer{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.side_nav a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #ff9900;
    border-radius: 5px;
    padding: 12px 20px;
    position: relative;
    z-index: 1;
}
.copyright {
    background-color: #121f34;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.copyright .copyright_item p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
}

